body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(25, 16, 11);
    padding: 0;
    margin: 0;
}



.nav-bar ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 3em;
    padding-top: 1em;
    flex-wrap: wrap;
}
h1{
    color: white;
    text-align: center;
}

a{
    color: white;
    font-size: larger;
    font-weight: 120em;
    flex-wrap: wrap;
    /* display: flex; */
    /* justify-content: space-evenly; */
}

.nav-bar{
    background-color: rgb(9, 45, 117);
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 0;
}
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    
}

.Category{
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.card{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    /* border: 3px solid black; */
    gap: 1em;
    background-color: white;
    /* background-color: rgb(1, 23, 36); */
    
}


.container div{
    display: flex;
    flex-direction: column;
    padding: 1em;
    flex-basis: 20em;
    
}


.card-img{
    display: flex;
    justify-content: center;
    width: 100%;
    border: 2px solid red;
    flex-grow: 1;
}


.card-img-top{
    width: 12em;
    height: 10em;
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
    flex-grow: 1;
    padding-left: 2em;
}

.card-body{
    display: flex;
    flex-direction: column;
    border: 2px solid yellow;
    flex-grow: 1;
}

.card-title{
    flex-grow: 1;
    padding-left: 2em;
    font-style: bold;
    font-weight: 90em;
}

.card-text{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    padding-left: 1em;
    font-size: small;
    font-weight: 90em;
}

.card b{
    text-align: center;
}

.card p{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    padding-left: 1em;
    font-size: small;
    font-weight: 90em;
}

.card h4{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    padding-left: 1em;
    /* font-size: small; */
    font-weight: 90em;
}

.btn-btn-primary{
    flex-grow: 1;
}

/* class="card-text" */

.about-text-p{
    color: white;
    display: flex;
    justify-content: center;
    font-size: larger;
    font-weight: 1150em;
}


/* css Loaders */

.lds-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
  }
  .lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: #fff;
  }
  .lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
  }
  .lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
  }
  .lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
  }
  .lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
  }
  .lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
  }
  .lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
  }
  .lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
  }
  .lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
  }
  .lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
  }
  .lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
  }
  .lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
  }
  .lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
  }
  @keyframes lds-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .loader {
    margin: auto;
  }
  