body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(175, 166, 166);
}



.nav-bar ul{
    display: flex;
    justify-content: space-between;
    background-color: rgba(187, 35, 35, 0.006);
    gap: 3em;
    padding-top: 1em;
}

a{
    /* background-color: black; */
    color: black;
    font-size: larger;
    font-weight: 120em;
}

.nav-bar{
    background-color: rgb(170, 210, 220);
    padding: 1em;
    display: flex;
    justify-content: space-between;
}
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    
}



.card{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border: 3px solid black;
    gap: 1em;
    background-color: white;
    /* background-color: rgb(1, 23, 36); */
    
}


.container div{
    display: flex;
    flex-direction: column;
    padding: 1em;
    flex-basis: 20em;
    
}


.card-img{
    display: flex;
    justify-content: center;
    width: 100%;
    border: 2px solid red;
    flex-grow: 1;
}


.card-img-top{
    width: 12em;
    height: 10em;
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
    flex-grow: 1;
    padding-left: 2em;
}

.card-body{
    display: flex;
    flex-direction: column;
    border: 2px solid yellow;
    flex-grow: 1;
}

.card-title{
    flex-grow: 1;
    padding-left: 2em;
    font-style: bold;
    font-weight: 90em;
}

.card-text{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    padding-left: 1em;
    font-size: small;
    font-weight: 90em;
}

.card b{
    text-align: center;
}

.card p{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    padding-left: 1em;
    font-size: small;
    font-weight: 90em;
}

.btn-btn-primary{
    flex-grow: 1;
}

/* class="card-text" */